[Unit]
Description=Console RFB Provider
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=do-shadow-console
Restart=always
RestartSec=20

[Install]
WantedBy=graphical.target
