#!/bin/bash
. etc/kiosk/setup

cat << EOF
Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon]
"AutoRestartShell"=dword:00000001
"Shell"="\"C:\\Program Files (x86)\\Microsoft\\Edge\\Application\\msedge.exe\" --kiosk ${SETUP_URL_TEMPLATE} --edge-kiosk-type=fullscreen --no-first-run"
EOF